<header>
    <link rel="stylesheet" href="/components/header/header.css">
    <div class="row-16 align-center">
        <a href="/" title="ザック" class="logo-link">
            <div id="site-logo"></div>
        </a>
        <div id="header-title"></div>
    </div>
    <div class="header-links row-16 align-center">
        <a id="header-source" href="https://github.com/zerovolts" class="tag" title="GitHub">GitHub</a>
        <div class="theme-toggle-container row-2 align-center">
            <input id="theme-toggle" type="checkbox" title="Toggle Theme">
        </div>
    </div>
</header>