@import "/global.css";

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: var(--content-width);
    background: var(--color-background-light);
    border-radius: var(--radius);
}

#header-title {
    font-size: 1.4rem;
    font-family: var(--font-monospace);
}

#theme-toggle {
    appearance: none;
    width: 16px;
    height: 16px;
    background: var(--color-accent);
    border-radius: var(--radius);
    margin: 0;
}

#theme-toggle:checked {
    background: var(--color-accent);
}

.header-links {
    padding: 0 2rem;
}

.logo-link {
    font-size: 0;
    height: 100%;
    padding: 1rem 2rem;
    border-right: 2px solid var(--color-background);
    border-radius: var(--radius) 0 0 var(--radius);
}