<header>
    <link rel="stylesheet" href="/components/header/header.css">
    <div class="row-16 align-center">
        <a href="/" title="ザック" class="logo-link">
            <img
                src="/assets/images/zakku.png"
                alt="site logo"
                class="pixel-art"
                width="40px"
                height="24px"
                style="visibility: visible"
            />
        </a>
        <div id="header-title"></div>
    </div>
    <div class="header-links">
        <a id="header-source" href="https://github.com/zerovolts" class="tag" title="GitHub">GitHub</a>
    </div>
</header>