.hero-image {
    width: calc(var(--hero-width) * 4);
    height: calc(var(--hero-height) * 4);
}

@media (max-width: calc(450px)) {
    .hero-image {
        width: calc(var(--hero-width) * 3);
        height: calc(var(--hero-height) * 3);
    }
}


@media (max-width: calc(350px)) {
    .hero-image {
        width: calc(var(--hero-width) * 2);
        height: calc(var(--hero-height) * 2);
    }
}
