@import "/global.css";

:root {
    --slider-height: 9px;
}

#color-picker-display {
    width: 128px;
    height: 128px;
    border-radius: 3px;
    flex-shrink: 0;
}

#hex-color,
#byte-color,
#fract-color {
    cursor: pointer;
}

.color-slider {
    appearance: none;
    background: linear-gradient(90deg, #000, #0f0); 
    border-radius: var(--radius);
    height: var(--slider-height);
    margin-top: 4px;
    margin-bottom: 4px;
}

input[type="range"]#red-slider {
    background: linear-gradient(90deg, #000, #f00); 
}

input[type="range"]#green-slider {
    background: linear-gradient(90deg, #000, #0f0); 
}

input[type="range"]#blue-slider {
    background: linear-gradient(90deg, #000, #00f); 
}

input[type="range"]#hue-slider {
    background: linear-gradient(90deg, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00); 
}

input[type="range"]#sat-slider {
    background: linear-gradient(90deg, #7f7f7f, #fff); 
}

input[type="range"]#val-slider {
    background: linear-gradient(90deg, #000, #fff); 
}

input[type="range"]::-moz-range-thumb {
    appearance: none;
    background: var(--color-background-light);
    border: 2px solid var(--color-text);
    border-radius: 3px;
    height: calc(var(--slider-height) + 4px);
    width: 3px;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    background: var(--color-background-light);
    border: 2px solid var(--color-text);
    border-radius: 3px;
    /* includes border height */
    height: calc(var(--slider-height) + 8px);
    /* includes border width */
    width: 7px;
}
