@import "/global.css";

:root {
    --color-byte1: #ff697a;
    --color-byte2: #49d4a9;
    --color-byte3: #40aee0;
    --color-byte4: #ffb171;
    --color-static: var(--color-text);
}

#bit-container {
    width: fit-content;
    height: 76px;
}

.bits {
    font-family: var(--font-monospace);
    background: var(--color-background);
    padding: 2px 4px;
    border-radius: var(--radius);
    text-align: right;
    width: 288px;
}

.character-block {
    display: flex;
    justify-content: center;;
    align-items: center;;
    width: 6rem;
    height: 6rem;
    border-radius: var(--radius);
    background: var(--color-background);
    font-size: 4rem;
}

.bit {
    width: 16px;
    height: 16px;
    border-radius: var(--radius);
}

.bit-zero {
    background: var(--color-background);
}

.bit-zero-static {
    background: var(--color-background-dark);
}

.bit-one {
    background: var(--color-accent);
}

.bit-one-static {
    background: var(--color-accent-shadow);
}

.static-bits { color: var(--color-static); }
.byte1 { color: var(--color-byte1); }
.byte2 { color: var(--color-byte2); }
.byte3 { color: var(--color-byte3); }
.byte4 { color: var(--color-byte4); }