@import "/global.css";

#bit-container {
    width: fit-content;
    height: 76px;
}

.bits {
    font-family: var(--font-monospace);
    background: var(--color-background);
    padding: 2px 4px;
    border-radius: var(--radius);
    text-align: right;
    width: 288px;
}

.character-block {
    display: flex;
    justify-content: center;;
    align-items: center;;
    width: 6rem;
    height: 6rem;
    border-radius: var(--radius);
    background: var(--color-background);
    font-size: 4rem;
}

.bit {
    width: 16px;
    height: 16px;
    border-radius: var(--radius);
}

.bit-zero {
    background: var(--color-background);
}

.bit-zero-static {
    background: var(--color-background-dark);
}

.bit-one {
    background: var(--color-accent);
}

.bit-one-static {
    background: var(--color-accent-shadow);
}

.static-bits { color: var(--color-text); }
.byte1 { color: var(--color-red); }
.byte2 { color: var(--color-green); }
.byte3 { color: var(--color-blue); }
.byte4 { color: var(--color-yellow); }
