
<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>zerovolts</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
    <link rel="stylesheet" href="/static/style.css" />
    <script defer data-domain="zerovolts.com" src="https://plausible.io/js/plausible.js"></script>
</head>

<body>
    {{template "header" "Home"}}
    <main>
        <section>
            <img
                src="/static/assets/images/green-house.png"
                alt="2-bit pixel art image of a green house"
                class="pixel-art hero-image"
            />
        </section>
        <p>
            TypeScript + Rust developer with a focus on computer graphics
            and UI design.
        </p>
        <a href="/bezier" class="tag" title="Bezier Art Generator">Bezier Art Generator</a>
    </main>
</body>

</html>